
#resume{
	height: 100%;
	padding: 20px 10px;
	box-sizing: border-box;
}

#resume_resume{
	display: block;
	position: relative;
	min-width: 210mm;
	max-width: 210mm;
	margin: auto;
}

#resume_resume br
{
	margin: 0px;
}

#resume_top, #resume_columns{
	min-width: 100%;
	max-width: 100%;
}

#resume_top{
	padding: 6mm 6mm 3mm 8mm;
	box-sizing: border-box;
	height: 28mm;
	color: #FFFFFF;
	background-color: #333333;
}

#resume_left{
	padding: 2mm 5mm 6mm 8mm;
}

#resume_right{
	padding: 2mm 8mm 6mm 5mm;
}

#resume_top>h1{
	margin: 4mm auto 0mm 0mm;
	font-size: 25pt;
	font-weight: normal;
}

#resume_top>p{
	font-size: 12pt;
}

#resume_columns{
	display: table;
}

#resume_left, #resume_right{
	display: table-cell;
}

#resume_left{
	min-width: 32.5%;
	max-width: 32.5%;
	color: #FFFFFF;
	background-color: #585858;
	font-size: 12pt;
}

#resume_right{
	color: #000000;
	background-color: #FFFFFF;
}

#resume_left h3{
	text-transform: capitalize;
	margin: 2mm auto 3mm 0mm;
	font-weight: 500;
	font-size: 16pt;
}

#resume_left table{
	width: 100%;
}

#resume_left table tbody td:last-child{
	text-align: right;
}

.resume_leftContent{
	margin: 2mm 0mm;
}

.resume_sectionLeft{
	margin: 2mm 0mm 6mm 0mm;
}

#resume_right{
	font-size: 11pt;
}

#resume_right h3{
	text-transform: capitalize;
	font-weight: normal;
	font-variant: small-caps;
	font-size: 16pt;
	margin: 2mm auto 1mm 0mm;
}

#resume_right hr{
	border: 1px solid black;
	margin: 2mm 0mm 4mm 0mm;
}

#resume_right .resume_rightItem{
	margin: 2mm 0mm;
}

#resume_right .resume_rightItem>p>b,
#resume_right .resume_rightItem>p>i
{
	font-size: 12pt;
}

#resume_resume #resume_right .resume_rightItemDate{
	color: #808080;
}

.resume_sectionRight{
	margin: 2mm 0mm 6mm 0mm;
}

#resume_resume p{
	text-align: justify;
	text-justify: inter-word;
}


#resume_language tr:hover{
	color: black;
}

#resume_resume #resume_left #icon_marriage{
	font-size: 150%;
	position: relative;
	top: -10px;
	min-height: 1px;
	max-height: 1px;
	float: left;
}
