
/* =========   TEMP   ========== */

#temp{
	display: block;
	position: fixed;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid red;
	background-color: black;
	z-index: 100;
}

/* ============================= */

*{
	/* Remove extra whitespace around elements. */
	margin: 0px;
	padding: 0px;
	outline: none;
	border: 0px;
}

body{
	position: relative;
	width: 100%;
	background-color: #111111;
	color: #FFFFFF;
}

header,
main
{
	position: relative;
	width: 100%;
}

footer{
	position: fixed;
	width: 100%;
	bottom: 0px;
}

hr{
	border: 1px solid;
}

br
{
	margin-bottom: 0.7em;
}

section{
	display: block;
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	/* z-index: 1; */
}

#glcanvas{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

#background
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#title{
	padding: 20px 0px;
	background-color: black;
	color: white;
}

#title_name
{
	font-size: 40pt;
	font-variant: small-caps;
	text-align: center;
	margin: 10px auto;
}

.title_sec
{
	font-size: 200%;
	margin: 0.5em;
	text-align: center;
}

.centering{
	text-align: center;
}

.show{
	display: block !important;
}

.credits{
	text-align: right;
}

.sectionBackground
{
	width: 100%;
	height: 100%;
	position: relative;
	left: 0px;
	top: 0px;
	display: block;
	overflow: hidden;
	background-color: #111111;
	
	/* animation-name: a_sectionBackground; */
	animation-duration: 2s;
	animation-iteration-count: 1;
}

@keyframes a_sectionBackground
{
	0%{
		background-color: #111111;
	}
	50%{
		background-color: #00000000;
	}
	100%{
		background-color: #00000000;
	}
}

.sectionFrame
{
	width: 100%;
	height: 100%;
	position: relative;
	left: 0px;
	top: 0px;
	display: block;
	overflow: hidden;
	
	/* animation-name: a_sectionFrame; */
	animation-duration: 2s;
	animation-iteration-count: 1;
}

@keyframes a_sectionFrame
{
	50%{
		transform: scale(90%);
		top: 0%;
	}
	100%{
		transform: scale(90%);
		top: 100%;
	}
}

.sectionContent
{
	width: 100%;
	height: 100%;
	position: relative;
	left: 0px;
	top: 0px;
	display: block;
	overflow: scroll;
	
	/* animation-name: a_sectionContent; */
	animation-duration: 2s;
	animation-iteration-count: 1;
}

@keyframes a_sectionContent
{
	0%{
		overflow: hidden;
	}
	50%{
		transform: scaleX(50%);
	}
	100%{
		transform: scaleX(50%);
		overflow: hidden;
	}
}

.sectionCover
{
	width: 50%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000000;
	font-size: 160%;
	
	/* animation-name: a_sectionCover; */
	animation-duration: 2s;
	animation-iteration-count: 1;
}

@keyframes a_sectionCover
{
	0%{
		transform: translate(-130%, -50%) rotateY(90deg);
	}
	60%{
		transform: translate(-50%, -50%) rotateY(0deg);
	}
	100%{
		transform: translate(-50%, -50%) rotateY(0deg);
	}
}

.sectionColumn
{
	width: 70%;
	min-height: 100%;
	position: relative;
	left: 0px;
	top: 0px;
	display: block;
	overflow: auto;
	margin: 0px auto;
	padding: 1em;
	box-sizing: border-box;
	color: #FFFFFF;
	background-color: #111111;
	text-align: justify;
	text-justify: inter-word;
	font-size: 120%;
}

.sectionFrame .buttonFrame
{
	position: fixed;
	right: 0px;
	top: 10%;
	display: flex;
	background-color: #666666;
	color: #000000;
	font-size: 22pt;
	
	animation-duration: 2s;
	animation-iteration-count: 1;
}

.sectionFrame .buttonFrame .buttonArrow
{
	position: relative;
	left: -8pt;
	width: 0;
	height: 0;
	border-top: 8pt solid transparent;
	border-right: 16pt solid #FFFFFF;
	border-bottom: 8pt solid transparent;
}

.sectionFrame .buttonFrame .buttonReturn
{
	margin: 0.2em 0.4em 0.2em 0px;
	text-wrap: nowrap;
	overflow: hidden;
	max-width: 0px;
	transition: max-width 0.15s ease-out;
}

.sectionFrame .buttonFrame:hover .buttonReturn
{
	max-width: 50vw;
	transition: max-width 0.25s ease-in;
}

@keyframes a_buttonFrame
{
	0%{
		right: 0%;
	}
	20%{
		right: 15%;
	}
	100%{
		right: 15%;
	}
}

.buttonEnter
{
	width: fit-content;
	margin: 3em auto 1em;
	padding: 0.7em 2em;
	font-size: 120%;
	background-color: #666666;
	color: #000000;
	border-radius: 8px;
	border: 2px solid #444444;
}

.buttonEnter:hover
{
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
}

math
{
	box-sizing: border-box;
	margin: 8px 0.4em;
}

mrow
{
	margin: 4px;
}

mtd
{
	padding: 0px 4px;
}

.equation
{
	display: block;
	text-align: center;
}

.variable
{
	font-style: oblique;
}

#hover{
	display: none;
	position: absolute;
	background-color: black;
	color: white;
	padding: 8px;
}

#INFO{
	display: block;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	overflow: auto;
	color: white;
	background-color: #222222;
	z-index: 100;
}

#tableload{
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 400px;
	height: 500px;
	overflow: auto;
	color: white;
	background-color: #222222;
	z-index: 100;
}
